
.projects{
    background: #FFF;
}
.project-item-container{
    max-width:60rem;
    flex-wrap: wrap;
    margin-bottom: 6rem;
    justify-content: center;
}

@media all and (max-width: 920px){
    .project-item-container{
        flex-direction: column;
        align-items: center;
    }
}