*{
    margin: 0;
    border: 0;
}
@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
  

.basicbox{
    height: 500px;
    line-height: 500px;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    opacity: 0;

    animation: appear 500ms ease-in forwards 1s 1;
    animation-name: appear;
    animation-timing-function: ease-in;
    animation-delay: 500ms;
}

.box1 {
    color: aliceblue;

    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    background:url("./bg.jpg") no-repeat center;
    background-size: cover;
}

.box2 {
    animation-delay: 1000ms;
    color: white;   

    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box3{
    color:snow;
    animation-delay: 1500ms;

    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}